*~
*.pyc
first_test/
symlinks_separate_ints/*
symlinks_separated/
all_fits_list.txt
one_file_tests/
flat_data
nohup.out
runlist.txt
no_ref_raw_separated_MMM
full_ref_raw_separated_MMM
no_ref_one_file_tests
temperatures
parameters/symLinkParams.yaml
parameters/ncdhasParams.yaml
backup_nohup/*.out
test_run/
old/
additional_proc_MPP/
raw_separated_???
parameters/ncdhasParams_*.yaml
parameters/symLinkParams_*.yaml
parameters/pipe_params*.yaml
parameters/header_fixes*.yaml
diagnostics/
nircam_tests/test_cube.fits
